{% extends 'base.html.twig' %}

{% block title %}Hello MarvelController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class ="container">
         <div class ="row">
         {% for comic in response.data.results %}
         <div class ="col-4">
         <div class ="card">
         <img src ="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"/>
            <p>
                {{comic.title}}            
            </p>
             
        </div>
        </div>
         {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
